.table-column .label {
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-text-alignment: CENTER;
    -fx-background-color: #46A3FF;
}

.table-view *.column-header-background {
    -fx-background-color: #B9B9FF;
    -fx-background-insets: 0px, 0px;
}

.MenuBar {
    -fx-background-color: #C4E1FF;
    -fx-background-insets: 0px, 0px;
}

.MenuBar .menu-item {
    -fx-font-size: 15px;
    -fx-text-alignment: CENTER;
    -fx-background-color: white;
    -fx-border-width: 0px;
    -fx-border-color: #DDDDFF;
    -fx-end-margin: 0;
    -fx-padding: 0;
    -fx-background-insets: 0px, 0px;
}

.MenuBar .menu-item:hover {
    -fx-background-color: #84C1FF;
    -fx-background-insets: 0px, 0px;
}

.MenuBar .menu:hover {
    -fx-background-color: #84C1FF;
    -fx-background-insets: 0px, 0px;
}

#scrollPane {
    -fx-background-color: #ECFFFF;
    -fx-background-insets: 0px, 0px;
}

#scrollPanel .viewport {
    -fx-background-color: #ECFFFF;
    -fx-background-insets: 0px, 0px;
}

/*??????????*/
.scroll-bar:vertical .track {
    -fx-background-color: #C4E1FF;
    -fx-background-insets: 0px, 0px;
    -fx-border-radius: 5px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #97CBFF;
    -fx-background-insets: 0px, 0px;
    -fx-border-radius: 5px;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: #ECECFF;
    -fx-background-insets: 0px, 0px;
    -fx-border-radius: 2px;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #66B3FF;
    -fx-background-insets: 0px, 0px;
    -fx-border-radius: 2px;
}

.scroll-bar:horizontal .track {
    -fx-background-color: #C4E1FF;
    -fx-background-insets: 0px, 0px;
    -fx-border-radius: 5px;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #97CBFF;
    -fx-background-insets: 0px, 0px;
    -fx-border-radius: 5px;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: #ECECFF;
    -fx-background-insets: 0px, 0px;
    -fx-border-radius: 2px;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #66B3FF;
    -fx-background-insets: 0px, 0px;
    -fx-border-radius: 2px;
}